= content_tag :div, '', id: 'progress-chart', data: {assessments: @assessment_scores}


:javascript
  // quarterly data, custom colors, skinny lines
  Morris.Line({
    element: 'progress-chart',
    data: $('#progress-chart').data('assessments'),
    xkey: 'date',
    ykeys: ['score', 'mistakes', 'adj'],
    labels: ['Score', 'Mistakes', 'Adjusted'],
    lineColors: ['#167f39','#044c29', '#802211'],
    lineWidth: 2
  });
