= div_for(reward, :class => 'record') do
  .record-row.title.record-title
    = link_to_unless_current(reward.title, reward)
  .record-row
    %span.record-label Point Value
    %span.record-value= reward.point_value||'n/a'
  .record-row
    .photo.tilt= link_to image_tag(reward.reward_photo.image), reward_photo_path(reward.reward_photo) if reward.reward_photo.present? && reward.reward_photo.image.present?
  
