- popover_placement = (defined? pop_placement) ? pop_placement : 'bottom'
%a{:href => '#nada', :class => "help-trigger",
  :rel => "popover",
  :'data-content' => "#{pop_content}",
  :'data-original-title' => "#{pop_title}",
  :'data-placement' => "#{popover_placement}",
  :'data-container' => "body"}
 
