%h2 What is this thing?
#boy-gamer.photo.float-right
  = image_tag 'boy-playing-video-game.jpg'
%p Take a look at Tommy, on the right.  Is he enjoying himself?  Is that the best use of his time?  As a 10 year old boy, you'd probably say, "yeah!"  As a parent, you'd probably say, "I'm not so sure..."
%p
  What if you 
  %em could be sure?
%h3 Educentives is about meeting goals
%p If Tommy's homework is finished, his room is clean, he practiced his tennis swing and he's met his milestones toward his extracurricular objectives, he's earned some time to be left alone with his thumbs.  Tommy does not want to be interrupted to ask about these things, check his progress wall.  That's what he did before he picked up the game.  Why?  Because there's something in it for him, something he cares about, an incentive he doesn't have to thank you for later but wants right now.  He wants it bad enough that he'll manage his own time, wisely.  
= link_to content_tag(:i, "", :class => 'icon-circle-arrow-right') + " More About Educentives", about_path
:javascript
  $(function() {
    $('#boy-gamer').transition({ rotate: '3deg' });
  });

