<h1>What is Educentives?</h1>

<p>Its a framework for work, study and life.  Its the skills we need to reach our goals.  Its how we know where we are, where we are going, where we want to be and where we've been.</p>

<h2>Goals</h2>

<p>Setting <i>goal</i> is the only way you'll change a dream into a reality.  Its the target you're shooting for.  Its the distance between where you are and the It might be to speak fluent spanish or it might be to ace a spelling test.  It could be to play "Fur Elise" on the guitar or read a novel by Stephen King.</p>

<p>You set goals all the time, whether you think about it that way or not.  Writing it down is just a way to commit to it and make it real.</p>

<p>Whatever your goal, it probably will take longer than this afternoon to complete the steps necessary to reach it.  In that case, we might need to set smaller goals, or milestones...</p>

<h2>Deadlines</h2>

<p>Setting a <i>deadline</i> is the best way to reach your gaol faster.  Life has a way of imposing deadlines on us naturally.  Even when it doesn't, its helpful to up the challenge from zero.</p>


<h2>Milestones</h2>

<p>A <i>milestone</i> breaks up a larger goal into smaller pieces that easier to swallow.  They make an imposing endeavor less so and allow you to measure intermediate progress.</p>

<p>Each milestone will be easier to imagine, plan and complete.  As you complete milestones, you will see your trend of progress toward your goal.  Along the way, you will see how likely you are to meet your deadline.  You will also see the work remaining falling away.</p>

<h2>Plan</h2>

<p>Setting a goal with a deadline and breaking up the work into measurable milestones is called a <i>plan</i>.  With a plan, you can move forward toward success.</p>

<h2>Reward</h2>
<p>So now I we're talking to mom and dad (or auntie Jamy or grandma and grandpaw)...</p>

<p>Success is <em>reward</em> enough, right?  Yes, but this is learned over time as we find our accomplishments paying dividends in our life.  Some kids want to please, some just want to have fun!  All kids like stuff.  If a goal is truly a valuable one for our student, why not reward them with something that will motivate them according to their value system - rather than yours?</p>

<p>Think about it: Why would little Johnny read Mark Twain rather than play XBox or even read <em>Harry Potter</em>?  You might want this for him but he really isn't motivated. Its not interesting to him and it isn't aligned with his value system, like it or now.  Motivate him!  He wants to play XBox and I'll bet there is a new game he would like to play.  Or maybe he'd just want the freedom to play his game for 2 hours without any nagging or interruption.  How much is it worth to you to see him finish that book, independently, because he wants to?  How much do you feel it will be worth to him in twenty years when that classic has impacted his thinking, his writing, his language, his love of reading and his character?  The possibilities are immense.</p>

<p>We spoil our kids.  We lavish them with almost anything they want because we can.  We worry that our children don't appreciate their belongings and opportunities because they've never know anything different.  Earning something is the best way to appreciate it.</p>

<p>Allowance is our parents' greatest con.  Its taught us that just showing up is all it takes.  Walk the garbage out to the curb and you'll collect your pay.  When you grow up, I'm sure there's a factory that will be glad to have you.  Is this what we really want our kids to learn?  Given the structure of Educentives, we have a platform for negotiation that our kids can use to extort from us the things they want.  When we deliver, we can do so with pride and satisfaction.  We've successfully convinced our children to overcome the challenges we wish for them and taught them entrepreneurship in the process.  All we had to give up was something we would have had to buy anyway.  Win, win, win.</p>

<h2>Communication</h2>

<p>This is just the icing on the cake...</p>

<p>Teachers find their time compressed more and more each year that they are held to stricter standardization and broader curriculum.  Its their greatest wish that parents stay involved.  Educentives provides a platform from which parents, teachers and students can agree upon goals and plans to reach them and track their progress along the way.  No longer will parents have to be in the dark as to how they can help, what their kids are learning and whether they are on track or not.</p>
