/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

button, input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: push-button;
}


/* Twitter Bootstrap Overrides */
/* Twitter Bootstrap Overrides end */



.float-right, .float-left{
  margin:10px;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.photo{
  background: #fff;
  border: solid 1px #888;
  padding:8px 8px 30px 8px;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow:5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;

}

