// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#goal-list-cntr{
  border: 1px solid #CCCCCC;
  border-radius: 8px 8px 8px 8px;
  padding: 10px;
  background: url("/assets/background/soccer-goal.png") no-repeat scroll right top #FFFFFF;
  
}