%h2 Time to make a plan!
%p
  Go ahead and click 
  %i= link_to '"New Plan"', new_plan_path
  \. This is going to start you down the path of reaching your goals.  Thinks about your 
  %i 
    reward 
  and what its worth to you.  We'll help you make it easy to achieve...  seriously! 
