%h1 What is Educentives?
%p It's a framework for work, study and life.  It's the skills we need to reach our goals.  It's how we know where we are, where we are going, where we want to be and where we've been.
%h2 Goals
%p
  Setting a
  %i goal
  is the only way you'll change a dream into a reality.  It's the target you're shooting for.  It might be to speak fluent spanish or it might be to ace a spelling test.  It could be to play "Fur Elise" on the guitar or read a novel by Stephen King.
%p You set goals all the time, whether you think about it that way or not.  The problem is that the distractions of life cause you to have to re-evalutate constantly, set new goals, and the bigger picture things get forgotten in favor of your more urgent, but less important, issues.  Writing it down is just a way to commit to an objective and keep it real.
%p 
  Whatever your goal, it probably will take longer than this afternoon to complete the work necessary to reach it.
  In rare cases, you can put your head down and just ram your way through.  Most of the time, however, you need to be
  = link_to "S.M.A.R.T.E.R", about_path( :page_name => 'smarter' )
  In that case, we might need to set smaller goals, or milestones...
%h2 Milestones
%p
  A
  %i milestone
  breaks up a larger goal into smaller pieces that easier to swallow.  They make an imposing endeavor less so and allow you to measure intermediate progress.
%p Each milestone will be easier to imagine, plan and complete.  As you complete milestones, you will see your trend of progress toward your goal.  Along the way, you will see how quickly you are travelling toward success.  You will also see the work remaining falling away.
%h2 Deadlines
%p
  Setting a
  %i deadline
  is the best way to reach your goal faster.  Life comes at us all at once.  Knowing when you need to accomplish something helps to give some order to things and sort them out.  It's just one way to decide when you should be working on what tasks.  If something is due tomorrow, you're more likely to work on it today.  If something else isn't due until next month, it might not be the best use of your time, right now.
%h2 Plan
%p
  Setting a goal with a deadline and breaking up the work into measurable milestones is called a
  = succeed "." do
    %i plan
  With a plan, you can move forward toward success.
%h2 Reward
%p So this next part is speaking to mom and dad (or auntie Jamy or grandma and grandpaw)...
%p
  Success is
  %em reward
  enough, right?  Yes, but this is learned over time as we find our accomplishments paying dividends in our life.  Some kids want to please, some just want to have fun!  All kids like stuff.  If a goal is truly a valuable one for our student, why not reward them with something that will motivate them according to their value system - rather than yours?
%p
  Think about it: Why would little Johnny read Mark Twain rather than play XBox or even read
  = succeed "?" do
    %em Harry Potter
  You might want this for him but he really isn't motivated. It's not interesting to him and it isn't aligned with his value system, like it or now.  Motivate him!  He wants to play XBox and I'll bet there is a new game he would like to play.  Or maybe he'd just want the freedom to play his game for 2 hours without any nagging or interruption.  How much is it worth to you to see him finish that book, independently, because he wants to?  How much do you feel it will be worth to him in twenty years when that classic has impacted his thinking, his writing, his language, his love of reading and his character?  The possibilities are immense.
%p
  We spoil our kids.  We lavish them with almost anything they want because we can.  Don't try to pretend you're not in that boat.  Your kids have things we never even dreampt of and yet we all feel guilt, as parents, when our kids want of anything.  Its human nature.
%p On the flip side, we worry that our children don't appreciate their belongings and opportunities because they've never known  anything different.  We feel guilt because we're too generous.  Danged if you do, danged if you don't!  Earning something is the best way to appreciate it.
%p Allowance is our parents' greatest con.  It's taught us that just showing up is all it takes.  Walk the garbage out to the curb and you'll collect your pay.  When you grow up, I'm sure there's a factory that will be glad to have you.  Is this what we really want our kids to learn?  Given the structure of Educentives, we have a platform for negotiation that our kids can use to extort from us the things they want.  When we deliver, we can do so with pride and satisfaction.  We've successfully convinced our children to overcome the challenges we wish for them and taught them entrepreneurship in the process.  All we had to give up was something we would have had to buy anyway.  Win, win, win.
%h2 Measuring
%p You can't predict when you might reach your goal unless you know where you started and how far you've come.  Anything else is just a guess.  
%h3 Points
%p We use points to give weight to each milestone composing a goal.  As you reach milestones, you earn the points associated with each met milestone.  Whatever portion of the sum of all points you've earned is how far you've come.  Points remaining are, of course, what you have left to accomplish.  You can use these factors to determine when you might expect to reach all of your milestones.  If your deadline is either much sooner or much later than what the point trajectory shows you, you probably want to reevaluate that deadline and agree to an attainable plan.
%h3 Assessments
%p Optionally, you can associate a score target with a goal and each milestone.  Some goals don't have such a measure but some goals are based on performance metrics.  It can be immensely helpful to track and chart your performance, over time, to see your progress visually.  If you assign a score target to a goal, you can assign a score target to its milestones.  In that case, you can record assessments as often as you like and we'll plot those out for you.  A milestone that feels out of reach feels less so when you see a line of progress pointing to it. 
%h2 Communication
%p This is just the icing on the cake...
%p Teachers find their time compressed more and more each year that they are held to stricter standardization and broader curriculum.  It's their greatest wish that parents stay involved, as long as they don't interfere or interrupt the flow.  Educentives provides a platform from which parents, teachers and students can agree upon goals and plans to reach them and track their progress along the way.  No longer will parents have to be in the dark as to how they can help, what their kids are learning and whether they are on track or not.
