%h1 Milestones
%p 
  A milestone simply breaks up a larger goal into smaller pieces.  A long term goal may be difficult to visualize and stay committed to.  Working toward something with more immediate gratification builds confidence toward the more challenging objective.

%p
  How do you break up a goal into milestones?  Sometimes, it will be obvious, as some goals neatly divide into parts.  When it's not such a case, identify the factors that lead to success and incent that activity.  Assign a relative point value to each milestone.  There is no reason not to reward partial progress, or the completion of milestones, with tangible rewards.  
