%h2 Points
Points are used to give value to activities and accomplishments.  
Using points helps to maintain objectivity about how challenging a 
goal or a milestone is and what an appropriate reward really is.  At first, it 
can be a little confusing.  What is a point?  Don't worry, after a short time, it'll 
become second nature.  It's important to disassociate monetary value from what is 
being pursued.  This isn't a job!  It's just as important to avoid thinking about 
%em how long something might take 
because that is highly unpredictable depending on the environment, schedule, 
individual, etc.  Most of the time, we just don't know.  Deadlines are useful to put 
a frame around when we should expect to be somewhere but the ultimate objective is to 
reach that goal.  Points help us determine how far we've come, in what period of time, 
so we might get a more accurate picture of when we should expect to finish.

%h3 Reward Points
Reward points represent how many points a reward is worth.  Each family 
has its own, unique set of values and the same reward may be worth more or 
less points depending on these factors.  This is the family's "Point Exchange Rate".  

%h3 Goal Points
A goal's points are determined by the sum of the points for all the milestones 
identified as needed to reach the goal.  For planning, however, it can be useful to 
set an initial point value for the entire goal.  This should be treated as an estimate.

%h3 Milestone Points
Each milestone is worth a portion of the whole.  The sum of the points for all 
the milestones associated with a goal should not exceed the point value for the goal.  
If the milestone points and the goal points do not match up, it's an indication that 
the goal point value estimate needs to be adjusted.  A good rule of thumb is to start 
with a goal point value estimate and then apply a relative portion of that value to each 
milestone once all the milestones have been identified to everyone's satisfaction.

Let's take a contrived example:

%b Goal: Count to 10 
%br
%ul
  %li Milestone 1: Count to 2
  %li Milestone 2: Count to 4
  %li Milestone 3: Count to 6
  %li Milestone 4: Count to 8
  %li Milestone 5: Count to 10

If the goal is worth 100 points, then each milestone is worth 20 points.  

It works the same way if the milestones are not cumulative or are 
independent of each other should represent completing 100% of the goal.
