%a{:href => "http://en.wikipedia.org/wiki/SMART_criteria", :target => "_blank"} S.M.A.R.T.E.R
%ul.mnemonic-list
  %li Specific
  %li Measurable
  %li Attainable
  %li Relevant
  %li Time framed
  %li Evaluate
  %li Rewarded

